<!-- views/event_planning.ejs -->

<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="timeline/timeline.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <!-- <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css"> -->
    <link rel="stylesheet" type="text/css" href="timeline/timeline.css">
    <link rel="stylesheet" href="/stylesheets/draganddrop.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Groop Event Planner</h1>
    </div>    
</head>
<body>
  <img class = "displayed_right" src="/images/groop_icon_logo.png" alt="Groop Logo" width="5%" height="5%">
  <form action="/event_planning" method="get" id = "get_event">
    <input type="text" name="event_number" id="event_number">
    <button onclick="load_event(1)" class="displayed_right btn btn-warning btn-lg">Event 1</button>
    <button onclick="load_event(2)" class="displayed_right btn btn-warning btn-lg">Event 2</button>
  <div id="mytimeline" class="displayed_right dropzone noborder-top" ></div>
  <div id="mytimeline2"></div>
  <script type="text/javascript">
    var ex_tasks_id = <%- JSON.stringify(ex_tasks_id) %>; 
    var ex_tasks_content= <%- JSON.stringify(ex_tasks_content) %>; 
    var ex_tasks_time= <%- JSON.stringify(ex_tasks_time) %>;
    var ex_pay_id = <%- JSON.stringify(ex_pay_id) %>; 
    var ex_pay_entry= <%- JSON.stringify(ex_pay_entry) %>; 
    var ex_pay_time= <%- JSON.stringify(ex_pay_time) %>;  

  </script>
  <div id="dialog-form-task">
    <form action="/event_planning" method="post" id = "post_form">
        <fieldset class="form-group" style="overflow: auto; border : none;" >
          <input type="text" name="Task_name" id="title_p" class="text ui-widget-content ui-corner-all" style="text-align : center; margin-bottom:12px; width:95%; border:1px;padding: .4em;">
          <textarea type="text"  name = "Description" id="title" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; height : 100px; padding: .4em;"></textarea>
          <div class="form-group" style = "padding: 5px 0px;">
            <label>Assign to</label>
            <input type="text" name="Asignee" id="asignee" class="text ui-widget-content ui-corner-all" style="float : right; width:50%;">
          </div>
          <div class="form-group" style = "padding: 5px 0px;">
            <label style = "clear:right">Due Date</label>
            <input type="date" name="Due_date" style="float : right; width:50%;">                
          </div>
          <div class="form-group" style = "padding: 5px 0px;">
            <label style = "clear:right">End Time</label>
            <input type="time" name="end_time" style="float : right; width:50%;">                
          </div>
        </fieldset>
      <!-- <button type="submit" class="btn btn-warning btn-lg">Confirm</button> -->
    </form>  
  </div>

  <div id="dialog-form-payment">
    <form action="/event_planning" method="post" style=" margin:13%;">
      <input type="hidden" name="pay_time" id="pay_time">
      <input type="text" name="Task_name" id="title_pay" class="text ui-widget-content ui-corner-all" style="text-align : center; margin-bottom:12px; width:95%; border:1px;padding: .4em;">
      <div class="column" draggable="false" >
          <img class = "displayed_left" src="/images/persona.png" alt="New Task" width="80" height="80" >
          <label style="padding-left: 7px">Name</label>
      </div>
      <fieldset class="form-group" style = "border : none">
        <div>
            <textarea name="title" id="title" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; height : 100px; padding: .4em;"></textarea>
            <div class="form-group" style = "padding : 5px 0px;">
              <label>CAD</label>
              <input type="number" name="amount" id="amount" style="float : right; width:50%;">
            </div>  
        </div>  
      </fieldset>
      <button type="submit" class="btn btn-warning btn-lg">Confirm</button>
    </form>
  </div>

  <div id="columns">
    <div class="column" draggable="true" >
      <img class = "displayed" src="/images/task-undone-outline.png" alt="New Task" width="80" height="80">
      <label style="padding-left: 7px">New Task</label>
    </div>
    <div class="columnpay" draggable="true" >
      <img class = "displayed" src="/images/payment.png" alt="Payment" width="80" height="80">
      <label style="padding-left: 7px">New Payment</label>
    </div>
  </div> 
  <script src="/javascripts/draganddrop.js"></script>
  <div id="info"></div>
</body>
</html>
