<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>My Profile Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>


    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">  
    <title>Frontier JQuery Calendar</title>  
      
    <link rel="stylesheet" type="text/css" href="jquery-frontier-calendar/css/frontierCalendar/jquery-frontier-cal-1.3.2.css" />  
    <!-- Include CSS for color picker plugin (Not required for calendar plugin. Used for example.) -->  
<!--     <link rel="stylesheet" type="text/css" href="jquery-frontier-calendar/css/colorpicker/colorpicker.css" /> -->  
    <link rel="stylesheet" type="text/css" href="jquery-frontier-calendar/css/jquery-ui/smoothness/jquery-ui-1.8.1.custom.css" />  
    <script type="text/javascript" src="jquery-frontier-calendar/js/jquery-core/jquery-1.4.2-ie-fix.min.js"></script>  
    <script type="text/javascript" src="jquery-frontier-calendar/js/jquery-ui/smoothness/jquery-ui-1.8.1.custom.min.js"></script>  
    <!-- Include color picker plugin (Not required for calendar plugin. Used for example.) -->  
    <script type="text/javascript" src="jquery-frontier-calendar/js/colorpicker/colorpicker.js"></script>  
    <!-- Include jquery tooltip plugin (Not required for calendar plugin. Used for example.) -->  
    <script type="text/javascript" src="jquery-frontier-calendar/js/jquery-qtip-1.0.0-rc3140944/jquery.qtip-1.0.js"></script>  
    <!-- 
        ** jshashtable-2.1.js MUST BE INCLUDED BEFORE THE FRONTIER CALENDAR PLUGIN. ** 
    -->  
    <script type="text/javascript" src="jquery-frontier-calendar/js/lib/jshashtable-2.1.js"></script>  
    <script type="text/javascript" src="jquery-frontier-calendar/js/frontierCalendar/jquery-frontier-cal-1.3.2.js"></script>  
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
  <script type="text/javascript">
    var ex_event_id = <%- JSON.stringify(ex_event_id) %>; 
    var ex_event_title= <%- JSON.stringify(ex_event_title) %>; 
    var ex_event_time= <%- JSON.stringify(ex_event_time) %>;
    var ex_event_end_time= <%- JSON.stringify(ex_event_end_time) %>;
    var club_idNum = <%- JSON.stringify(club_idNum) %>;
    var user_name = <%- JSON.stringify(Display_name) %>;
    var club_name = <%- JSON.stringify(club_name) %>;
    var role_name = <%- JSON.stringify(role_name) %>;
  </script>

<div class="container">
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-8" style=" width : 700px; border: 1px solid black;">
      
            <div>
                <div class="profilebox4" style="float: left;"><img src="/images/persona2.png" height="180px", width="180px"></div>
                <div class="profilebox1 article">    
                    <div class="form-group">
                        <label>Name :</label>
                        <input type="text" class="long" name = "Name" id = "user_name">
                    </div> 
                    <div class="form-group">
                        <label>Club :</label>
                        <input type="text" class="long" name = "Name" id = "club_name">
                    </div> 
                    <div class="form-group">
                        <label>Role :</label>
                        <input type="text" class="long" name = "Name" id = "role_name">
                    </div> 
                </div>

                <!-- Space reserved for setting button -->
<!--                  <form action="" method="post">
                    <input type="image" src="images/setting.png" name="image" width="20" height="20">
                </form> -->
            </div>
        </div>
         <p style="float: left; padding-top: 50px; padding-left: 50px;"><img src="/images/Groop_icon.png" height="100px", width="100px"></p>
    </div>
</div>

<div >  

    <br>
    <br><br>

    <div class="profilecontent" style="float:left;">

    <div class="col-sm-4">
            <div class="well" id = "event_list"></div>
    </div>

    <div class="col-sm-4">
    <!-- class="ui-widget-header ui-corner-all" -->
    <div id="toolbar" style="background-color: #0088DD;; padding:3px; vertical-align: middle; white-space:nowrap; overflow: hidden; width:550px;">
        <button id="BtnPreviousMonth" style=" background-color: #0088DD; float: left;"><</button>
        <!-- &nbsp;&nbsp;&nbsp; -->
        <input type="text" style="margin-left: 30%; margin-top: 5px;background-color: #0088DD;" id="dateSelect" size="8"/>
        <button id="BtnNextMonth" style="background-color: #33B2A6; float: right;">></button>

        <!-- <button id="BtnDeleteAll">Delete All</button> -->
    </div>
  

    <div id="mycal" class="ui-widget-header ui-corner-all" style="padding:3px; vertical-align: middle; white-space:nowrap; overflow: hidden; width:550px;"></div>



    <!-- debugging-->
    <div id="calDebug"></div>

    <style type="text/css">
        //label, input.text, select { display:block; }
        fieldset { padding:0; border:0; margin-top:25px; }
        .ui-dialog .ui-state-error { padding: .3em; }
        .validateTips { border: 1px solid transparent; padding: 0.3em; }
    </style>

    <!-- Add event modal form -->
    <div id="add-event-form" title="Add New Event">
        <p class="validateTips">All form fields are required.</p>
        <form>
        <fieldset>
            <label for="name">What?</label>
            <input type="text" name="what" id="what" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>
            <table style="width:100%; padding:5px;">
                <tr>
                    <td>
                        <label>Start Date</label>
                        <input type="text" name="startDate" id="startDate" value="" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>                
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label>Start Hour</label>
                        <select id="startHour" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="12" SELECTED>12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>               
                    <td>
                    <td>
                        <label>Start Minute</label>
                        <select id="startMin" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="00" SELECTED>00</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>               
                    <td>
                    <td>
                        <label>Start AM/PM</label>
                        <select id="startMeridiem" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="AM" SELECTED>AM</option>
                            <option value="PM">PM</option>
                        </select>               
                    </td>
                </tr>
                <tr>
                    <td>
<!--                         <label>End Date</label>
                        <input type="text" name="endDate" id="endDate" value="" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>   -->              
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label>End Hour</label>
                        <select id="endHour" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="12" SELECTED>12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>               
                    <td>
                    <td>
                        <label>End Minute</label>
                        <select id="endMin" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="00" SELECTED>00</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>               
                    <td>
                    <td>
                        <label>End AM/PM</label>
                        <select id="endMeridiem" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="AM" SELECTED>AM</option>
                            <option value="PM">PM</option>
                        </select>               
                    </td>               
                </tr>           
            </table>
<!--             <table>
                <tr>
                    <td>
                        <label>Background Color</label>
                    </td>
                    <td>
                        <div id="colorSelectorBackground"><div style="background-color: #333333; width:30px; height:30px; border: 2px solid #000000;"></div></div>
                        <input type="hidden" id="colorBackground" value="#333333">
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <label>Text Color</label>
                    </td>
                    <td>
                        <div id="colorSelectorForeground"><div style="background-color: #ffffff; width:30px; height:30px; border: 2px solid #000000;"></div></div>
                        <input type="hidden" id="colorForeground" value="#ffffff">
                    </td>                       
                </tr>               
            </table> -->
        </fieldset>
        </form>
    </div>    
    <div id="display-event-form" title="View Agenda Item">
        <p class="validateTips">All form fields are required.</p>
        <form>
        <fieldset>
            <label for="name">What?</label>
            <input type="text" name="what" id="edit_what" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>
            <table style="width:100%; padding:5px;">
                <tr>
                    <td>
                        <label>Start Date</label>
                        <input type="text" name="startDate" id="edit_startDate" value="" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>                
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label>Start Hour</label>
                        <select id="edit_startHour" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="12">12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>               
                    <td>
                    <td>
                        <label>Start Minute</label>
                        <select id="edit_startMin" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="00" SELECTED>00</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>               
                    <td>
                    <td>
                        <label>Start AM/PM</label>
                        <select id="edit_startMeridiem" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="AM" SELECTED>AM</option>
                            <option value="PM">PM</option>
                        </select>               
                    </td>
                </tr>
                <tr>
                    <td>
<!--                         <label>End Date</label>
                        <input type="text" name="endDate" id="endDate" value="" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>   -->              
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label>End Hour</label>
                        <select id="edit_endHour" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="12" SELECTED>12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>               
                    <td>
                    <td>
                        <label>End Minute</label>
                        <select id="edit_endMin" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="00" SELECTED>00</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>               
                    <td>
                    <td>
                        <label>End AM/PM</label>
                        <select id="edit_endMeridiem" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                            <option value="AM" SELECTED>AM</option>
                            <option value="PM">PM</option>
                        </select>               
                    </td>               
                </tr>           
            </table>
<!--             <table>
                <tr>
                    <td>
                        <label>Background Color</label>
                    </td>
                    <td>
                        <div id="colorSelectorBackground"><div style="background-color: #333333; width:30px; height:30px; border: 2px solid #000000;"></div></div>
                        <input type="hidden" id="colorBackground" value="#333333">
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <label>Text Color</label>
                    </td>
                    <td>
                        <div id="colorSelectorForeground"><div style="background-color: #ffffff; width:30px; height:30px; border: 2px solid #000000;"></div></div>
                        <input type="hidden" id="colorForeground" value="#ffffff">
                    </td>                       
                </tr>               
            </table> -->
        </fieldset>
        </form>
        
    </div>      
    <p>&nbsp;</p>

</div>
</div>
   

    <!--
    You can use pixel widths or percentages. Calendar will auto resize all sub elements.
    Height will be calculated by aspect ratio. Basically all day cells will be as tall
    as they are wide.
    -->
    

<script type="text/javascript" src="/javascripts/calendar.js"></script>
<script src="/javascripts/profile_create_event_list.js"></script>  
</body>
</html>
